openapi: 3.0.1
info:
  title: Boost Insurance API
  description: >-
    Partial, factual OpenAPI description of the Boost Insurance Policy Admin
    System (PAS) API. Boost exposes a JSON REST API for the embedded /
    insurance-as-a-service lifecycle: quote, bind/issue, endorse, cancel, and
    claims (FNOL), with outbound webhook notifications. Authentication uses the
    OAuth 2.0 Client Credentials grant; partners exchange a Client ID and Client
    Secret for a bearer token at the authentication endpoint and send it on each
    request. Only endpoints that are publicly documented at the time of writing
    are modeled here. The full request/response schemas, endorsement paths, and
    webhook payloads are published in Boost's partner documentation
    (https://learn.boostinsurance.com/docs and https://docs.boostinsurance.io)
    and are not reproduced here to avoid fabrication.
  termsOfService: https://boostinsurance.com/
  contact:
    name: Boost Insurance Support
    email: help@boostinsurance.io
    url: https://learn.boostinsurance.com/docs
  version: '1.0'
servers:
  - url: https://api.insurtech.dev
    description: Boost Platform API base URL referenced in Boost developer documentation.
security:
  - boostOAuth: []
paths:
  /auth/oauth2/token:
    post:
      operationId: createToken
      tags:
        - Authentication
      summary: Request an OAuth 2.0 access token.
      description: >-
        Exchange a Client ID and Client Secret for a bearer access token using
        the OAuth 2.0 Client Credentials grant. The returned token must be sent
        as a Bearer token on subsequent API requests.
      responses:
        '200':
          description: An OAuth 2.0 access token was issued.
  /quotes:
    post:
      operationId: createQuote
      tags:
        - Quotes
      summary: Create a quote.
      description: >-
        Rate and quote insurance coverage by submitting applicant, coverage, and
        program data. Returns a Quote that can later be modified, documented, and
        converted into a Policy.
      responses:
        '200':
          description: A quote was created.
  /policies:
    post:
      operationId: createPolicy
      tags:
        - Policies
      summary: Bind and issue a policy from a quote.
      description: >-
        Transition a Quote into a Policy by submitting the Quote ID. Boost
        generates and delivers the Policy with all Quote data including
        coverages, dates, and entity information, assuming the Quote meets
        convertibility requirements.
      responses:
        '200':
          description: A policy was created.
  /claims:
    post:
      operationId: createClaim
      tags:
        - Claims
      summary: File a First Notice of Loss (FNOL).
      description: >-
        Submit FNOL data tied to a Policy. Boost stores the claim against the
        relevant Policy and begins adjudication in-house or via a TPA partner,
        acting as the single source of truth for claim status. Claim updates are
        delivered back to the partner via webhook.
      responses:
        '200':
          description: A claim (FNOL) was created.
components:
  securitySchemes:
    boostOAuth:
      type: oauth2
      description: >-
        OAuth 2.0 Client Credentials grant. Tokens are obtained from the Boost
        authentication endpoint and presented as a Bearer token.
      flows:
        clientCredentials:
          tokenUrl: https://api.insurtech.dev/auth/oauth2/token
          scopes: {}
